/*	NEES Data Portal Stylesheet	*/
hr {
	border: 0;
	border-bottom: 1px solid #333;
	margin: 10px 0;
}
.float-left {
	float: left;
}
#app-wrap {
	width: 100%;
	margin-bottom: 20px;
    display: table;
    float: left;
    background: #EEE;
    color: #EEE;
    position: relative;
	font-family: 'Ubuntu', sans-serif; 
	font-size: 12px;
}
#app-title {
	background: #07C;
	height: 80px;
	margin-top: -3px;
	min-height: 55px;
	width: 100%;
}
#app-title h1 {
	color: #EEE;
	float: left;
	font-size: 26px;
	font-weight: normal;
	margin: 0;
	padding: 17px 25px;
	padding-bottom: 0;
}
#app-evt-table table {
	background: #F0F0F0;
	border-collapse: collapse;
	color: #333;
	cursor: default;
	padding: 0px 15px;
	text-align: left;
	width: 100%;
}
#app-wrap tr.odd {
	background: #FFF;
}
#app-evt-table tbody tr:hover {
	background: #CCC;
	cursor: pointer;
}
#app-wrap tr.selected, #app-evt-table tbody tr.selected:hover {
	background: #1f1f1f;
	color: #FFF;
}
#app-evt-table thead {
	background: #4D4D4D;
	color: #CCC;
	text-align: left;
	width: 100%;
}
#app-evt-table td {
	padding: 5px;
}
#app-evt-table th {
	color: #DDD;
	cursor: pointer;
	font-weight: normal;
	padding: 5px;
}
#app-evt-table th:first-child {
	border: 0;
}
#app-grid {
	background: #333;
	float: left;
	overflow-x: hidden;
	overflow-y: scroll;
	position: relative;
	width: 40%;
	z-index: 2;
}
.toggle {
	margin: 0 5px;
}
.toggle-check {
	display: none;
}
.toggle-title {
	color: #FFF;
	cursor: pointer;
	display: block;
	font-size: 18px;
	height: 35px;
	padding-top: 5px;
}
.toggle-title img {
	vertical-align: middle;
	margin-right: 5px;
}
.toggle-title:after {
	content: '▾';
	display: block;
	float: right;
	font-size: 28px;
	margin-right: 5px;
	margin-top: -4px;
}
input:checked ~ .toggle-title:after {
	content: '▴';   
}
.toggle-target {
	height: auto;
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	padding: 0;
	-webkit-transition: max-height 1s, opacity 1s ease-in-out;
	-moz-transition: max-height 1s, opacity 1s ease-in-out;
	-o-transition: max-height 1s, opacity 1s ease-in-out;
	-ms-transition: max-height 1s, opacity 1s ease-in-out;
	transition: max-height 1s, opacity 1s ease-in-out;
}
input:checked ~ .toggle-target {
	max-height: 5000px;
	opacity: 1;
	padding: 1px 0 15px 0;
	-webkit-transition: max-height 1s, opacity 1s ease-in-out;
	-moz-transition: max-height 1s, opacity 1s ease-in-out;
	-o-transition: max-height 1s, opacity 1s ease-in-out;
	-ms-transition: max-height 1s, opacity 1s ease-in-out;
	transition: max-height 1s, opacity 1s ease-in-out;
}
#app-viewport {
	background: #101214;
	float: right;
	height: 92%;
	overflow: hidden;
	width: 60%;
	clear: right;
}

#tabView, #tabBar, .tabView {
	color: #333;
	width: 100%;
}
.tabTitle {
	color: #AAA;
	cursor: pointer;
	float: left;
	font-size: 16px;
	height: 45px;
	line-height: 50px;
	padding: 0 30px;
}
.tabTitle:hover {
	background: #4D4D4D;
	color: #CCC;
}
.tabTitle.active {
	background: #07C;
	color: #FFF;
}
.tabView {
	background: #FFF;
	height: 100%;
}
#tabBar {
	background: #333;
}
#table-ctrls {
	color: #FFF; /* #555 */
	height: 30px;
	line-height: 16px;
	margin: auto;
	margin-bottom: 5px;
	padding: 2px 0px;
	width: 300px;
}
#app-input {
}
.app-input-flds {
	margin: 3px 0;
	padding-left: 0;
	padding-right: 0;
	width: 338px;
}
.app-input-flds, .input-field {
	font-family: 'Ubuntu', sans-serif;
}
.app-input-flds[type=text] {
	border: 1px solid #777;
	padding: 4px 8px;
	width: 320px;
}
#itemsPerPage {
	margin-right: 15px;
}
#itemsPerPageLbl {
	line-height: 35px;
}

.input-field {
        line-height: 100%;
	margin: 1px 5px;
}
.input-field input {
	background: transparent;
	border: 0;
	border-bottom: 1px solid #555;
	color: #eee;
	line-height: 20px;
}
.input-field span.spacer {
	margin: auto 15px;
}
.input-field .double-field {
	width: 126px;
}
.input-field .number-field {
	width: 40px;
}
.input-field label {
	color: #CCC;
	display: block;
}

.table-ctrl {
	cursor: default;
	float: left;
	height: 16px;
	margin: 4px 5px;
	margin-bottom: 0;
	text-align: center;
}
.table-ctrl.btn {
	padding: 4px 6px;
}
.table-ctrl.btn:hover {
/* 233, 133 */
	background: #4D4D4D;
}
#table-ctrl-page {
	background: transparent;
	border: 0;
	border-bottom: 1px solid #555;
	color: #FFF;
	text-align: center;
	width: 2.5em;
}
#query-result {
	color: #ccc;
	padding: 0 2px;
}
#app-channel-box {
	border: 5px solid transparent;
	position: absolute;
	width: 400px;
}
#app-channel-box table {
	border-collapse: collapse;
	overflow: hidden;
	width: 100%;
}
#app-channel-box thead tr {
	background: #024;
	color: #DDD;
	padding: 10px 15px;
	text-align: left;
}
#app-channel-box td {
	color: #333;
	padding: 5px;
}
#app-channel-box tr {
	background: #F0F0F0;
}
#app-channel-box tr.odd {
	background: #FFF;
}
#app-channel-box th {
	padding: 5px;
}
#app-channel-box th:first-child {
	border: 0;
}
#channel-close {
	color: #CCC;
	font-size: 24px;
	padding: 5px 12px;
	position: absolute;
	top: 0;
	right: 0;
}
#channel-close:hover, #channel-close:active {
	background: #024;
	cursor: pointer;
}
#channel-grid-body {
	height: 200px;
	overflow-x: hidden;
	overflow-y: auto;
}
.sort:after {
	content: '▴';   
	font-size: 16px;
}
.sort.desc:after {
	content: '▾';
}

#app-cart {
	background: #EEE;
    box-shadow: 0 0 25px 15px black;
	left: 50%;
	margin-left: -400px;
	margin-top: -325px;
	position: absolute;
	top: 50%;
	visibility: hidden;
	width: 800px;
	z-index: 100;
}
#cart-left, #cart-right {
	float: left;
	margin: 15px 2.5%;
}
#cart-left {
	background: #FFF;
    border: 1px solid #CCC;
	color: #333;
	font-size: 12px;
	height: 550px;
	overflow: auto;
    width: 35%;
}
#cart-left div {
    line-height: 1.4em;
}
#cart-left ul {
    list-style: none;
    margin: 0;
    padding: 15px;
}
#cart-left li {
    border-top: 1px solid #CCC;
    padding: 15px 0;
}
#cart-left li:first-child {
    border: 0;
}
#cart-left li ul {
    list-style: circle;
    padding: 5px 45px;
}
#cart-left li ul li {
    border: 0;
    padding: 0;
}
#cart-right {
	text-align: center;
    width: 54%;
}
#cart-right .input-field {
	text-align: left;
}
#cart-right .input-field label {
	color: #555;
    font-weight: bold;
}
#cart-right .input-field input[type=text] {
    background: #FFF;
	border: 1px solid #CCC;
	color: #000;
	margin-bottom: 1.4em;
    width: 100%;
}
#cart-right button {
	height: 35px;
	margin: auto;
	margin-top: 0.4em;
	width: 80%;
}
#cart-input-format-wrap {
	background: #FFF;
	border: 1px solid #CCC;
	margin: 15px 0;
	overflow: auto;
	height: 350px;
}
#cart-input-format {
	border-collapse: collapse;
	color: #333;
	height: 100px;
	overflow: auto;
	width: 100%;
}
#cart-input-format span.disabled, #cart-input-format td.disabled {
	color: #AAA;
}
#cart-input-format th {
	background: #777;
	color: #EEE;
}
#cart-input-format td, #cart-input-format th {
	padding: 5px;
}
#cart-input-format tr {
	border-top: 1px solid #EEE;
}
#cart-input-format tr:first-child {
	border: 0;
}
#cart-input-format input[type=checkbox] {
	margin: 0;
	vertical-align: middle;
}
#cart-button {
	padding: 5px 15px;
    float: right;
	font-size: 10px;
    margin: 12px 25px;
	min-width: 125px;
    text-align: left;
}
#view-cart {
	cursor: pointer;
	font-size: 22px;
}
#view-cart:hover {
	text-decoration: underline;
}
#cart-count {
	font-size: 12px;
	font-weight: normal;
}
#empty-cart {
	cursor: pointer;
	color: #CCC;
}
#empty-cart:hover {
	text-decoration: underline;
}
#cart-close {
	color: #FFF;
	font-size: 36px;
	position: absolute;
	right: 25px;
	top: 4px;
}
#cart-close:hover {
	color: #555;
	cursor: pointer;
}
#cart-title {
	background: #07C;
	color: #FFF;
	font-size: 21px;
	padding: 15px 25px;
}
#channel-title {
	background: #048;
	font-size: 18px;
	padding: 15px;
}
.btn.disabled {
	visibility: hidden;
}
#channel-view {
	background: #084;
	cursor: pointer;
	font-size: 12px;
	position: absolute;
	padding: 5px 15px;
	top: 55px;
	right: 5px;
}
#channel-view:hover {
	background: #063;
}

.evt-item {
	background: transparent;
	height: 20px;
    visibility: hidden;
	width: 20px;
}
.evt-item.active {
	background: transparent url(../img/nees/cartin.png) no-repeat center center;
    visibility: visible;
}
.cart-item {
	background: transparent url(../img/nees/cartadd.png) no-repeat center center;
}
.cart-item.active {
	background: transparent url(../img/nees/cartin.png) no-repeat center center;
}
.wv-item {
	background: transparent url(../img/nees/wviewUn.png) no-repeat center center;
	margin-left: 5px;
}
.wv-item.active {
	background: transparent url(../img/nees/wviewSl.png) no-repeat center center;
}
.cart-item, .wv-item {
	border-radius: 25px;
	cursor: pointer;
	float: left;
	height: 20px;
	width: 20px;
}
.cart-item:hover, .wv-item:hover {
	background: rgba(0, 0, 0, 0.1);
}


.popUpWindow>.titleBar {
    background: #333;
    font-size: 12px;
    height: 15px;
	line-height: 15px;
    padding: 6px 10px;
    position: relative;
}

.popUpWindow span.closeIcon {
	content: '\00D7';
    cursor: pointer;
	font-size: 14px;
    height: 15px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 23px;
}
.popUpWindow>.content {
    background: #FFF;
    color: #000;
	padding: 5px 0;
    text-align: center;
}
#empty-box {
	padding: 0 15px;
}
#empty-box span {
    margin: 10px;
}
#yes-empty {
    cursor:pointer;
}
#yes-empty:hover {
    text-decoration: underline;
}
#no-empty {
    cursor:pointer;
}
#no-empty:hover {
    text-decoration: underline;
}

#feedback {
	clear: left;
	color: #CCC;
	float: left;
	font-size: 14px;
	margin-left: 42px;
	text-decoration: none;
}
#feedback:hover {
	text-decoration: underline;
}

#cart-progress {
    background: #888;
	border: 2px solid #EEE;
	display: none;
    height: 26px;
	position: relative;
}
#cart-progress-bar {
	background: skyblue;
	height: 100%;
}

#cart-download {
    background: #FD8;
	display: none;
    height: 20px;
	padding: 5px 0;
	text-align: center;
    width: 100%;
}
#cart-download a {
	color: #7F7F7F;
	line-height: 20px;
	text-decoration: none;
}
#cart-download a:hover {
	text-decoration: underline;
}
.expandChn b {
	cursor: pointer;
	text-decoration: underline;
}
.expandChn:hover b {
	text-decoration: none;
}
#depToEvid, #disablePrev, #enable-PGA {
	margin-right: 37px;
}
#site-msg {
	background: #FDA;
	color: #750;
	line-height: 1.4em;
	margin: 5px 0;
	padding: 10px 15px;
}
#cart-msg {
	position: absolute;
	top: 40px;
	background: #FDA;
	color: #750;
	padding: 15px;
	left: 50%;
	margin-left: -100px;
	box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
	visibility: hidden;
}
#thumb-box {
	width: 250px;
	height: 220px;
}

/** Drupal Fixes */
#app-wrap th {
	background: #4D4D4D;
	border: 0;
}
#app-wrap td {
	background: none;
}
#app-grid {
	margin-top: -10px;
}
#channel-grid-body {
	margin-top: -17px;
}
#app-wrap {
	width: 100%;
	margin-bottom: 20px;
    display: block;
    float: left;
    color: #EEE;
	font-family: 'Ubuntu', sans-serif; 
	font-size: 12px;
}
#app-viewport {
	clear: right;
	display: block;
	margin-top: -10px;
}