/*	NEES Data Portal Stylesheet	*/

#pseudohtml, #pseudobody {
	margin: 0;
	padding: 0;
	width: 100%;
}

#pseudobody {
	color: #EEE;
	font-family: 'Ubuntu', sans-serif;
	font-size: 12px;
	overflow: auto;
}
#app-wrap {
     color: #EEE;
	 font-family: 'Ubuntu', sans-serif; 
	 font-size: 12px;
	 overflow: auto;
	 border: 1px solid #054B81;
}
#app-wrap th {
	background-color: black !important;
	border-bottom: none;
}
#app-wrap th a{
	color: white;
}

#app-title {
	background-color: #06A;
	border-bottom: 3px solid #09F;
	height: 80px;
	margin-top: -3px;
	min-height: 55px;
	width: 100%;
}
#app-title h1 {
	color: #EEE;
	float: left;
	font-size: 26px;
	font-weight: normal;
	margin: 0;
	padding: 15px 25px;
	padding-bottom: 0;
}
#app-evt-table table {
	background-color: #F0F0F0;
	border-collapse: collapse;
	color: #333;
	cursor: default;
	padding: 0px 15px;
	text-align: left;
	width: 100%;
}
tr.odd {
	background-color: #FFF;
}
#app-evt-table tbody tr:hover {
	background-color: #CCC;
	cursor: pointer;
}
tr.selected, tr.selected td, #app-evt-table tbody tr.selected:hover {
	background-color: #002e3e !important;
	color: #FFF;
}
#app-evt-table thead {
	background-color: #101214;
	border-top: 1px solid #555;
	color: #CCC;
	text-align: left;
	width: 100%;
}
#app-evt-table td {
	padding: 3px;
}
#app-evt-table th {
	color: #DDD;
	cursor: pointer;
	font-weight: normal;
	padding: 5px 0px 5px 5px;
}
#app-evt-table th:first-child {
	border: 0;
}
#app-grid {
	background-color: #101214;
	float: left;
	height: 500px;
	position: relative;
	width: 37%;
	z-index: 2;
	overflow: hidden;
}
.toggle {
	margin: 10px 5px;
}
.toggle .toggle-title {
	border-bottom: 2px solid #4E4E4E;
	color: #c9c9c9;
	display: block;
	font-size: 15px;
	height: 25px;
	padding: 2px 15px;
}
.toggle .toggle-title img {
	vertical-align: middle;
	margin-right: 5px;
}
.toggle .toggle-title:after {
	content: '▾';
	display: block;
	float: right;
	margin-right: 5px;
	margin-top: -2px;
}
.toggle .toggle-title.active:after {
	content: '▴';   
}
.toggle-target {
	border-bottom: 1px solid #252525;
	padding-bottom: 15px;
}
.input-field {
	margin: 5px;
        margin-right: 25px;
        font-size: 11px;
}
.input-field input {
	background: transparent;
	border: 0;
	border-bottom: 1px solid #555;
	color: #eee;
}
.input-field span.spacer {
	margin: auto 15px;
}
.input-field .double-field {
	width: 35%;
}
.input-field label {
	color: #AAA;
	display: block;
}
#app-viewport {
	background-color: #101214;
	float: right;
	height: 500px;
	overflow: hidden;
	width: 63%;
}

#tabView, #tabBar, .tabView {
	width: 100%;
}
.tabTitle {
	border-bottom: 5px solid #555;
	color: #FFF;
	cursor: default;
	float: left;
	font-size: 16px;
	height: 40px;
	line-height: 50px;
	margin-left: 15px;
	padding: 0 30px;
}
.tabTitle.active {
	border-bottom: 5px solid #33b5e5;
}
.tabView {
}
.tabView.active {
	background-color: #FFF;
	height: 100%;
}
#tabBar {
	background-color: #333;
}
#table-ctrls {
	color: #FFF; /* #555 */
	height: 30px;
	line-height: 25px;
	margin: auto;
	margin-bottom: 5px;
	padding: 2px 0px;
	width: 350px;
}
#app-input {
	padding-top: 15px;
}
.app-input-flds {
	margin: 3px 0;
	padding-left: 0;
	padding-right: 0;
	width: 100%;
}
.table-ctrl {
	cursor: default;
	float: left;
	height: 16px;
	margin: 4px 5px;
	margin-bottom: 0;
	text-align: center;
        font-size: 11px;
}
.table-ctrl.btn {
	border: 2px solid #101214;
	border-radius: 5px;
	padding: 2px 4px;
}
.table-ctrl.btn:hover {
/* 233, 133 */
	border: 2px solid #777;
}
#table-ctrl-page {
	background: transparent;
	border: 0;
	border-bottom: 1px solid #555;
	color: #FFF;
	text-align: center;
	width: 2.5em;
}
#query-result {
	color: gray;
	padding: 0 2px;
}
#app-channel-box {
	border: 5px solid transparent;
	position: absolute;
	width: 400px;
	z-index: 101;
}
#app-channel-box table {
	background-color: #FFF;
	border-collapse: collapse;
	border: 1px solid #333;
	width: 100%;
}
#app-channel-box thead tr {
	background-color: #101214;
	border: 1px solid #111;
	border-top: 0;
	border-bottom: 0;
	color: #DDD;
	padding: 10px 15px;
	text-align: left;
}
#app-channel-box td {
	color: #333;
	padding: 3px;
}
#app-channel-box tr {
	background-color: #F0F0F0;
}
#app-channel-box tr.odd {
	background-color: #FFF;
}
#app-channel-box thead {
	background-color: #AAA;
}
#app-channel-box th {
	padding: 5px;
	cursor: pointer;
}
#app-channel-box th:first-child {
	border: 0;
}
#channel-close {
	border-radius: 5px;
	color: #CCC;
	float: right;
	font-size: 0.8em;
	padding: 2px 8px;
	position: absolute;
	top: 0;
	right: 10px;
}
#channel-close:hover, #channel-close:active {
	border: 1px solid #555;
	cursor: pointer;
}
#channel-grid-head {
	margin-top: -2px !important;
}
#channel-grid-body {
	height: 200px;
	overflow: hidden;
	margin-top: -20px;
}


.nosort:after {
        content: ' ';
}

.sort:after {
	content: '▴';   
	font-size: 11px;
}
.sort.desc:after {
	content: '▾';
}

#app-cart {
	background-color: #EEE;
        box-shadow: 0 0 25px 15px black;
	height: 600px;
	width: 800px;
        left: 50%;
        top: 50%;
        margin-left: -400px;
        margin-top: -225px;
	position: absolute;
	visibility: hidden;
	z-index: 100;
}
#cart-left, #cart-right {
	float: left;
	margin: 15px 2.5%;
}
#cart-left {
	background-color: #FFF;
	border: 1px solid #CCC;;
	color: #333;
	font-size: 12px;
	height: 450px;
	overflow: auto;
	padding: 25px 0px;
        width: 35%;
}

#cart-left div {
    padding: 15px 25px;
}
#cart-left ul {
    list-style: none;
    margin: 0;
    padding: 15px;
}
#cart-left li {
    border-top: 1px solid #CCC;
    padding: 0px 15px;
}
#cart-left li:first-child {
    border: 0;
}
#cart-left li ul {
    list-style: circle;
    padding: 5px 45px;
}
#cart-left li ul li {
    border: 0;
    padding: 0;
}

#cart-right {
	text-align: center;
        width: 54%;
}
#cart-right .input-field {
	text-align: left;
}
#cart-right .input-field label {
	color: #555;
        font-weight: bold;
}
 #cart-right .input-field input[type=text] {
     background-color: #FFF;
     border: 1px solid #CCC;
     color: #000;
     margin-bottom: 0.2em;
     width: 100%;
}

#cart-right button {
	height: 35px;
	margin: auto;
	margin-top: 0.4em;
	width: 80%;
}

#cart-input-format-wrap {
        background-color: #FFF;
        border: 1px solid #CCC;
        margin: 15px 0;
        overflow: auto;
        height: 280px;
}
#cart-input-format {
        border-collapse: collapse;
        color: #111;
        height: 100px;
        overflow: auto;

        width: 100%;
}
#cart-input-format th {
        background-color: #333;
        color: #CCC;
}
#cart-input-format td, #cart-input-format th {
        padding: 5px;
} 
#cart-input-format tr {
        border-top: 1px solid #EEE;
}
#cart-input-format tr#gray {
        background-color: rgb(196, 196, 196);
}
#cart-input-format tr span {
        color: #888;
}

#cart-input-format tr:first-child {
        border: 0;
}
#cart-input-format input[type=checkbox] {
        margin: 8px;
        vertical-align: middle;
}

#app-cart input[type=text] {
	background: transparent;
	border: 0;
	border-bottom: 1px solid #555;
	color: #333;
	font-size: 25px;
	margin-top: 8px;
	padding: 1px 5px;
	width: 100%;
}

#click-cart {
	border-left: 1px solid #CCC;
	cursor: pointer;
	padding: 5px 15px;
	float: right;
        margin: 15px 25px;
        min-width: 180px;
        text-align: right;
}
#view-cart {
        font-size: 105%;
}
#view-cart:hover {
	text-decoration: underline;
}

#empty-cart {
        color: #002;
}
#empty-cart:hover {
	text-decoration: underline;
}

#cart-close {
        color: #FFF;
	font-size: 36px;
	position: absolute;
	right: 25px;
	top: 4px;
}
#cart-close:hover {
        color: #555;
	cursor: pointer;
}
#cart-title {
	background-color: #333;
	color: #FFF;
	font-size: 21px;
	padding: 15px 35px;
        float: left;
        width: 730px;
}

#cart-progress {
        top: 17px;
        left: 202px;
        width: 0px;
        height: 20px;
        margin: 2px;
        background-color: #0cf264;
        position: absolute;
}

#cart-progframe {
        top: 15px;
        left: 200px;
        width: 204px;
        height: 24px;
        border: 2px solid white;
        position: absolute;
        }

#cart-ptitle {
        top: 20px;
        left: 144px;
        width: 204px;
        height: 24px;
        position: absolute;
        }

#cart-dwnld {
        top: 20px;
        left: 440px;
        width: 285px;
        height: 24px;
        position: absolute;
        color: white;
        font-size: 100%;
        }

#cart-dwnld a {
   color: white;
}

#channel-title {
	background-color: #101214;
	color: white;
	border-bottom: 1px solid #555;
	font-size: 1.6em;
	padding: 5px 15px;
}
.btn.disabled {
	visibility: hidden;
}
#channel-controls {
	background-color: #101214;
	height: 40px;
}
.chn-control {
	border-radius: 5px;
	border: 1px solid #888;
	cursor: pointer;
	float: right;
	margin: 8px 15px;
	padding: 5px 15px;
	color: white;
}
.chn-control:hover, .chn-control:active {
	border: 1px solid #BBB;
}



#prevw {
       height: 190px;
       background-color: white;
}


.evt-item {
	background-color: transparent;
	height: 20px;
        visibility: hidden;
	width: 20px;
}
.evt-item.active {
        background-image:url('cartin.png');
        background-size: 20px 20px;
        visibility: visible;
}
#cart-addall {
        background-image:url('cartadd.png');
        background-size: 20px 20px;
	float: left;
	height: 20px;
	width: 20px;
}
#cart-remall {
        background-image:url('cartrem.png');
        background-size: 20px 20px;
	float: left;
	height: 20px;
	width: 20px;
}
.cart-item {
        background-image:url('cartadd.png');
        background-size: 20px 20px;
	float: left;
	height: 20px;
	width: 20px;
}
.cart-item.active {
        background-image:url('cartin.png');
        background-size: 20px 20px;
}

#chn-add-all {
        background-image:url('cartadd.png');
        background-size: 20px 20px;
}

#chn-add-all.active {
        background-image:url('cartrem.png');
        background-size: 20px 20px;
}

.wv-item {
        background-image:url('wviewUn.png');
        background-size: 20px 20px;
	float: left;
	height: 20px;
	margin-left: 5px;
	width: 25px;
}
.wv-item.active {
        background-image:url('wviewSl.png');
        background-size: 20px 20px;
}

.popUpWindow .titleBar {
    background: none repeat scroll 0 0 #000000;
    border-radius: 8px 8px 0 0;
    font-size: 11px;
    width: 230px;
    height: 15px;
    padding: 1px 10px 7px;
    position: relative;
}

.popUpWindow .titleBar span.closeIcon {
    background: url("iconWhiteBigX.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 15px;
    position: absolute;
    right: 7px;
    top: 5px;
    width: 23px;
}

.site-gray {
   color: #BBB;
}

.cart-chn-lst {
   color: #333;
}
